.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 3px black;
    z-index: 20;
}
.headerwrapper{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.header_start{
    height: 40px;
    line-height: 40px;
}
.header_hamburger{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}
.header_title{
    font-size: 1.2rem;
    margin-left: 6px;
}
.header_center{
    display: flex;
    width: 50%;
}
.header_input_text{
    width: calc(100% - 60px);
    padding: 6px;
    border: 1px solid gray;
    border-right: none;
    border-radius: 2px 0 0 2px;

}
.header_input_button{
    width: 60px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 2px 2px 0;
}
.header_end{
    display: flex;
}
.header_search{
    display: none;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}
.header_profile{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: orange;
    /* background-image: url(../IMGS/17458584126185.jpg);
    background-size: 40px 40px; */
}
@media screen and (max-width:800px){
    .header_title{
        display: none;
    }
}
@media screen and (max-width:400px){
    .header_center{
        display: none;
    }
    .header_search{
        display: block;
    }
}